<div class="card-demo-container">
  <h2>Drag and Drop Scryfall Cards</h2>
  <div class="battle-field">
    <div class="card-handle"
         cdkDragBoundary=".battle-field"
         *ngFor="let card of cards; let i = index"
         [ngStyle]="{ 'z-index': card.zIndex }"
         (cdkDragReleased)="released($event)"
         (cdkDragStarted)="drag(card, $event, i)"
         (cdkDragEnded)="drop(card, $event)"
         (click)="onCardClick(card, $event)"
         cdkDrag>
      <mat-card class="card-item" [class.tapped]="card.tapped" >
        <img mat-card-image [src]="card.image" [alt]="card.name" />
      </mat-card>
    </div>
  </div>
</div>
