/.DS_Store
/cardgame.html
/cardgame.js
/styles.css
node_modules/
dist/
.nvmrc

# Legacy folders
/multiplayer/

# New structure
/server/node_modules/
/server/dist/
/web-client/node_modules/
/web-client/dist/
/legacy-client/

# Platform tools
/platform-tools/

.nx/installation
.nx/cache
.nx/workspace-data